
.body{
    background: #EAE7DC;
}

.container-fluid {
    font-family: 'Courier New', Courier, monospace;
    background: #EAE7DC;
}


h1, h2, h3, h5, h6 {
    color: #b61b1b;
}

#justify {
    text-align: justify;
}

#kontakt {
    text-align: center;
}

.table {
    overflow-x: auto;
}